body {
    background: $black;
    color: white;
    font-family: "Untitled Sans Test";
    font-size: 1.05rem;
}

.site-header {
    position: fixed;
    padding: 1rem;
    font-size: 1.6rem;
    z-index: 0;
    letter-spacing: -.01em;
    color: white;
    h1, h2 {
        font-weight: 400;
    }
}