.people {
    padding: 1rem;
    font-size: 1.2rem;

    @include bp(m) {
        font-size: calc(1.5rem + .5vw);
    }

    padding-top: 100vh;
    list-style: none;
    transform-origin: left;
    a {
        color: white;
        @include bp(m){
            cursor: none;
        }
    }
}

.section-title {
    margin-bottom: 2em;
    @include bp(m){
        margin-bottom: .5em;
    }
}

.person {
    display: flex;
    margin-bottom: .5em;
    flex-wrap: wrap;
    min-height: 3em;
    @include bp(m) {
        margin-bottom: -.1em;
    }
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    font-family: $sans;
    position: relative;
    line-height: 1.2;

    a {
        transition: 100ms;
    }

    a:hover,
    a:focus {
        opacity: .6;
    }
}

.person-name {
    flex-basis: 100%;
    @include bp(m) {
        flex-basis: 30%;
    }
}

.person-thumb {
    width: 4em;
    position: absolute;
    right: 0;
    top: 0;
    flex-shrink: 0;
    border-radius: 30px;
    @include bp(m){
        display: none;
    }
}

.person-project {
    font-style: italic;
    flex-basis: 100%;
    padding-right: 7em;
    line-height: 1.1;
    @include bp(m) {
        padding-right: 0;
        flex-basis: auto;
    }
}

.person-instagram {
    @include bp(m) {
        flex-basis: 5.5em;
    }
}

.person-twitter {
    @include bp(m) {
        flex-basis: 4em;
    }
}

.person-twitter,
.person-instagram {
    font-family: $sans;
    text-decoration: underline;
    flex-shrink: 1;
}

.home-hero {
    position: fixed;
    z-index: -1000;

    canvas {
        width: 100vw !important;
        height: 100vh !important;
    }
}

.cursor-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
}