.people{
    padding: 1rem;
    font-size: calc(1rem + 1.5vw);
    padding-top: 100vh;
    * {
        color: white;
        cursor: none;
    }
}
.person {
    display: flex;
    margin-bottom: -.1em;
    width: 100%;
    justify-content: flex-start;
    align-items: baseline;
    font-family: $sans;
    a {
        transition: 100ms;
    }
    a:hover, a:focus {
        opacity: .6;
    }
}
.person-name {
    margin-right: .5em;
}

.person-project {
}
.person-twitter, .person-instagram {
    margin-right: .5em;
    font-family: $sans;
    text-decoration: underline;
    border-radius: 2em;
}

.home-hero {
    position: fixed;
    z-index: -1000;
    canvas {
        width: 100vw  !important;
        height: 100vh !important;
    }
}

.cursor-container {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: difference;
}