.thumbnail {
    opacity: 0;
    position: fixed;
    pointer-events: none;
    top: 0;
    transform-origin: left;
    transform: translateY(-107%) scale(.95);
    transition: transform $fast, opacity $fast;
    display: none;
    @include bp(m){
        display: block;
    }
    img {
        width: auto;
        max-width:  40vw;
        max-height: 40vh;
    }
    [src='']{
        display: none;
    }
}

.hovering-name {
    .thumbnail {
        transform: translateY(-110%) scale(1);
        opacity: 1;
    }
}
